@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>Feedbacl</h3>

<address>
    NURE<br />
    Kharkiv, Nauki Ave. 14<br />
    <abbr title="Phone">P:</abbr>
    +380957825355
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>