
@{
    ViewBag.Title = "Download";
}

<h2>Download the application</h2>
<hr />

<div class="well">
    To download the application for Anroid, go to @Html.ActionLink("link","DownloadApp","Home")
</div>

